<html>

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body style="margin: 0px;">

    <div class="nav">
        <div class="timezone">
            <a>Time</a>
            <a class="zone">Zone</a>
        </div>
        <div class="nav_center">
            <a href="">Home</a>
            <a href="/shop">Shop</a>
            <a href="/about">About</a>
            <a href="/latest">Latest</a>
            <a href="/blog">Blog</a>
            <a href="/pages">Pages</a>
            <a href="/contact">Contact</a>
        </div>
        <div class="nav_right">
            <i class="fas fa-search fa-xs"></i>
            <i class="fas fa-user fa-xs"></i>
            <i class="fas fa-shopping-cart fa-xs"></i>
        </div>
    </div>
    <div class="container1">
        <div class="container1_left">
            <h1>Select Your New<br>Perfect Style</h1>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea<br>commodo
                consequat is aute irure.</p>
            <button>SHOP NOW</button>
        </div>
        <div class="container1_right">
            <img src="/images/container1/img_container1.webp">
        </div>
    </div>
    <div class="container2">
        <h1>New Arrivals</h1>
        <div>
            <div class="item">
                <img src="/images/container2/img1_container2.jpeg">
                <p>Thermo Ball Etip Gloves</p>
                <a>$ 45,473</a>
            </div>
            <div class="item">
                <img src="/images/container2/img2_container2.jpeg">
                <p>Thermo Ball Etip Gloves</p>
                <a>$ 45,473</a>
            </div>
            <div class="item">
                <img src="/images/container2/img3_container2.jpeg">
                <p>Thermo Ball Etip Gloves</p>
                <a>$ 45,473</a>
            </div>
        </div>
    </div>

    <div class="container3">
        <img id="img1_container3" src="/images/container3/img1_container3.jpeg">
        <img id="img2_container3" src="/images/container3/img2_container3.jpeg">
        <div>
            <img src="/images/container3/img3_container3.jpeg">
            <img src="/images/container3/img4_container3.jpeg">
        </div>
    </div>
    <div class="container4">
        <h1>Popular Items</h1>
        <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore manga</p>
        <p>aliqua. Quis ipsum suspendisse ultrices gravida.</p>
        {{!-- --}}
        <div class="container4_products">
            {{#each products}}
            <div class="container4_item">
                <div>
                    <section class="hide">
                        <button id="hide_icon_edit" type="submit" onclick="myModal({{id.$oid}})">
                            <i class="fas fa-pen"></i>
                        </button>
                        <form style="margin: 0px;" action="/{{id}}?_method=DELETE" method="POST">
                            <button id="hide_icon_delete" type="submit">
                                {{!-- formaction="/{{id}}?_method=DELETE" formmethod="POST" name="id" value="{{id}}"
                                --}}
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </form>
                    </section>
                    <img src="images/img_background.jpg" class="container4_background">
                    <img src={{image}} class="container4_watch">
                </div>
                <p>{{title}}</p>
                <a>$ {{price}}</a>
            </div>
            {{/each}}
        </div>
        {{!-- --}}
        <button class="view-more" onclick="myModal()">ADD MORE PRODUCTS</button>
    </div>

    <div class="container5">
        <div class="video">
            <video controls>
                <source
                    src="https://hw5.cdn.asset.aparat.com/aparat-video/ec587928470d4a7fb36824929f9b29f425447299-480p.mp4"
                    type="video/mp4">
                Your browser does not support HTML video.
            </video>
        </div>
        <button class="next-video">
            <span>NEXT VIDEO</span>
            <i class="fas fa-arrow-right"></i>
        </button>
    </div>
    <div class="container6">
        <div class="desc">
            <header>Watch of Choice</header>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book
            </p>
            <button class="show-watches">SHOW WATCHES</button>
        </div>
        <!-- <div class="container6_item"> -->
        <!-- <img src="./img/img_background.jpg"> -->
        <div class="photo">
            <img src="/images/container6/img1_container6.webp">
        </div>
        <!-- </div> -->
    </div>
    <div class="container6 reverse" style="padding-top: 0px !important;">
        <div class="photo">
            <img src="/images/container6/img2_container6.webp">
        </div>
        <div class="desc">
            <header>Watch of Choice</header>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book
            </p>
            <button class="show-watches">SHOW WATCHES</button>
        </div>

    </div>
    <div class="container7">
        <div class="services">
            <section>
                <i class="fas fa-box"></i>
                <header>Free Shipping Method</header>
                <p>aorem ixpsacdolor sit ameasecur adipisicing edasd</p>
            </section>

            <section>
                <i class="fas fa-lock"></i>
                <header>Secure Payment System</header>
                <p>aorem ixpsacdolor sit ameasecur adipisicing edasd</p>
            </section>

            <section>
                <i class="fas fa-sync-alt"></i>
                <header>Secure Payment System</header>
                <p>aorem ixpsacdolor sit ameasecur adipisicing edasd</p>
            </section>
        </div>
    </div>

    <footer class="footer">
        <div class="time-zone">
            <header>Time <span>Zone</span></header>
            <p>Asorem ipsum adipolor sdit amet,</p>
            <p>consectetur adipiscing elitcf sed do</p>
            <p>eiusmod tem.</p>
        </div>
        <section>
            <header>Quick Links</header>
            <ul>
                <li>About</li>
                <li>Offers & Discounts</li>
                <li>Get Coupon</li>
                <li>Contact Us</li>
            </ul>
        </section>
        <section>
            <header>New Products</header>
            <ul>
                <li>Woman Cloth</li>
                <li>Fashion Accessories</li>
                <li>Man Accessories</li>
                <li>Rubber made Toys</li>
            </ul>
        </section>

        <section>
            <header>Support</header>
            <ul>
                <li>Frequently Asked Questions</li>
                <li>Terms & Conditions</li>
                <li>Privacy Pollicy</li>
                <li>Report a Payment Issue</li>
            </ul>
        </section>
    </footer>
    <div class="copyright">
        <div style="color: #888888; font-size: 12px;">Copyright @2020 All rights reserved</div>
        <div class="social">
            <i class="fab fa-twitter"></i>
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-behance"></i>
            <i class="fas fa-globe"></i>
        </div>
    </div>
    <div id="modal">
        <div id="modalBox">
            <form action="/" method="POST" id="modalForm" style="margin: 0px;">
                <input type="text" name="title" placeholder="Title" required>
                <input type="number" name="price" placeholder="Price" required>
            </form>
            <button onclick="closeModal()" class="closeModal" style="cursor: pointer;">Close</button>
        </div>
    </div>
    <script>
        function myModal(Id = '600e6f0172c5ad0dd48ae625') {
            const modal = document.getElementById('modal');
            const modalForm = document.getElementById('modalForm');
            //--------------------------------------------------------
            console.log('open -----------------------------------------------');
            console.log('/' + Id + '?_method=PUT');
            console.log('open -----------------------------------------------');
            //--------------------------------------------------------
            if (Id)
                modalForm.action = '/' + Id + '?_method=PUT';
            const btn = document.createElement('button');
            btn.id = 'okBtn';
            btn.onclick = closeModal();
            btn.type = 'submit';
            btn.style.cursor = 'pointer';
            btn.innerText = 'Ok!';
            btn.name = 'id';
            btn.value = Id;
            modalForm.appendChild(btn);
            btn.style.color = "white";
            btn.style.backgroundColor = "red";
            btn.style.width = "auto";
            btn.style.marginBottom = "0px";
            modal.style.display = 'flex';
        }
        function closeModal() {
            const modal = document.getElementById('modal');
            const btn = document.getElementById('okBtn');
            if (btn)
                btn.remove();
            modal.style.display = 'none';
        }
    </script>
</body>

</html>